* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction: column;
}

header {
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

header h1 {
    font-weight: 600;
    margin-bottom: 1rem;
}


input, button {
    appearance: none;
    border: none;
    outline: none;
    background:none;
} 


#expense_input {
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

#reason-input {
    flex:1 1 0%;
}



#cost_input {
    width: 50px;
    text-align: center;
}

#expense_submit {
    cursor: pointer;
    transition: .4s;
}

#expense_submit:hover {
    opacity: .8;
}

#expense_submit:active {
    opacity: .6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.expense_list {
    padding: 1rem;

}

.expense_list h2 {
    margin-bottom: 1rem;
}

#expenses .expense {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#expenses .expense .content {
    display: flex;
    width: 100%;
}

#expenses .expense .content .text {
    transition: .4s;
    flex: 1 1 0%;
}

#expenses .expense .content .cost {
    flex: 1 0 0%;
    text-align: center;
    max-width: 100px;
}

#expenses .expense .actions {
    display: flex;
}

#expenses .expense .actions button {
    cursor: pointer;
    transition: 0.4s;
}

#expenses .expense .actions button:hover {
    opacity: .8;
}

#expenses .expense .actions button:active {
    opacity: .6;
}

.total {
    padding: 1rem;
    
}